.try-it {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem 4rem;
  color: $base;
  // https://uigradients.com
  background: #2c6e82;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #28638a, #2e7779);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #28638a, #2e7779); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  h1 {
    font-size: 2.5rem;
    font-weight: normal;
    text-align: center;
    margin: 4rem 0 0;
  }
}

