.qr-holder {
  $padding: 25px;
  $qr_image_size: 125px;
  $qr_size: $qr_image_size + $padding + $padding;
  $details_size: 300px;

  display: none;
  padding: $padding;
  margin: 0;
  width: $qr_size;
  height: $qr_size;
  background: $base;
  transition: $trans;

  &.show {
    display: block;
  }

  &:hover {
    width: $qr_size + $details_size;
  }
}
