/* Coolors Exported Palette - coolors.co/ffffff-231f20-bb4430-7ebdc2-f3dfa2 */
$base: rgba(255, 255, 255, 1);
$primary: rgba(35, 31, 32, 1);
$accent: rgba(187, 68, 48, 1);
$secondary: rgba(126, 189, 194, 1);
$neutral: rgb(252, 212, 95);

/* Transitions */
$trans-duration: 100ms;
$trans-func: ease-out;
$trans: all $trans-duration $trans-func;

/* Other */
$max_content_width: 800px;
